*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 100px;
}

nav{
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 100;
}


#titolo{
    margin-bottom: 20px;
    font-size: 50px;
}

.headerparag{
    font-weight: 100;
}

.button{
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.loginbutton{
    padding: 5px;
    height: 30px;
    width: 70px;
    margin-top: 0;
}

.dowloadbutton{
    padding: 5px;
    height: 50px;
    width: 15.625rem;
    font-size: 1.125rem;
}

.openbutton{
    padding: 5px;
    height: 50px;
    width: 18.75rem;
    font-size: 1.125rem;
    margin-left: 20px;
}

.lightbutton{
color: black;

}

.darkbutton{
    color: white;
    background-color: #23272a;

}

.contenitoreheader{
    width: 100%;
    padding: 50px;
   display: flex;
}

.lilacback{
    color: white;
    margin: auto;
    max-width: 100%;
    min-height: 200px;
    text-align: center;
}

.whiteback{
    background-color:#ffffff ;
    display: flex;
    margin: auto;
    padding: 40px;
    justify-content: center;
}

.greyback{
    background-color: #d3d3d3;
    display: flex;
    margin: auto;
    padding: 40px;
    justify-content: center;
}

.contenitOre{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: inline-block;
}

.pinkblock{
    width: 20%;
    min-height: 200px;
    padding: 35px;
}

.sectiontitle{
    font-size: 35px;
    padding: 0;
}

.sectionparag{
    font-size: 12px;
    margin-top: 15px;
}

.blueblock{
    min-height: 200px;
}

.greenblock{
    width: 50%;
    min-height: 400px;
    padding: 35px;
    text-align: center;
}

.darkback{
    background-color: #23272a;
    width: 100%;
    display: flex;
    padding: 60px 20px 20px 20px;
    justify-content: center;
}

.salmonpink{
    width: 10%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.teal{
    min-height: 200px;
    display: flex;
    row-gap: 5px;
    width: 40%;
}

.turquoise{
    width: 55%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.babypink{
    background-color: #ffb6c1;
    padding: 5px 8px;
}

.minicolumn{
    width: 25%;
    margin-right: 5px;
}

.imgconteiner{
    display: flex;
    justify-content: center;
}

.img4{
    height: 450px;
}

.lilac{
    background-color: #8ea1e1;
    color: white;
}

.sfondostelline{
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stelline{
    width: 490px;
}

.signinbutton{
    padding: 5px;
    height: 26px;
    width: 4.625rem;
    font-size: 10px;
    margin: 0;
}

.discordlogo{
    height: 25px;
}

.hrconteiner{
    width: 50px;
}

li{
    text-decoration: none;
    margin-top: 10px;
}

.colore{
    color: #8ea1e1;
}

ul{
    color: white;
    list-style: none;
}

.itaflag{
    height: 20px;
    width: 30px;
    margin-right: 5px;
}

.flagconteiner{
    display: flex;
    color: white;
    margin-top: 20px;
}

.miniarrow{

}

.iconconteiner{
    color: white;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 120px;
}